/* By Athlon Front-End Team */

body {
    margin: 0;
    background: url(../images/content/fon.jpg) no-repeat center center fixed;
    background-size: cover;
}

#root {
    padding: 1rem;
    text-align: center;
}

#root h1{
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
}
