body {
    text-align: center;
    margin: 14px;
    font-size: 20px;
    font-family: 'Trebuchet MS', Courier, monospace;
    background-color: antiquewhite;
}

.task {
    border-bottom-style: solid;
    padding-bottom:10px;
    word-wrap: break-word;
}

#getTable {
    font-family: 'Consolas', Courier, monospace;
}